
airflow/dags/__pycache__/nba_project_dag.cpython-311.pyc
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=clean_games/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=clean_odds_task/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=combine_games_and_odds_task/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=combine_games_and_odds_task/attempt=2.log
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=fetch_games_task/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=manual__2024-11-15T04:45:49.974333+00:00/task_id=fetch_raw_odds/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=clean_games/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=clean_odds_task/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=clean_odds_task/attempt=2.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=clean_odds_task/attempt=3.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=fetch_games_task/attempt=1.log
airflow/logs/dag_id=nba_project_dag/run_id=scheduled__2024-11-14T00:00:00+00:00/task_id=fetch_raw_odds/attempt=1.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2024-11-15/nba_project_dag.py.log
airflow/logs/scheduler/latest
airflow/webserver_config.py
/airflow/logs
